:root {
    --olivegreen: #013646;
    --mintgreen: #61E4A3;
    --beige: #FDF0EC;
    --grey: #E1E7EF;
    --info-grey: #F0EEEC;
    --green-200: #5F0808;
    --red-200: #CC2A2A;
    --red-100: #FEEFEE;
    --yellow-200: #FFCB45;
    --yellow-100: #FFECBB;
    --font-scale: 1;
    /* font-size: 62.5%; !* (62.5/100) * 16px = 10px *!*/
    --font-size--basic: calc((1.6rem + 0.1vmin) * var(--font-scale));
    --font-size--M: calc((1.6rem + 0.65vmin) * var(--font-scale));
    --font-size--L: calc((1.6rem + 1.7vmin) * var(--font-scale));
    --font-size--XL: calc((1.6rem + 2.3vmin) * var(--font-scale));
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''), url("../fonts/NotoSans-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Japan';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/NotoSansJP-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Korea';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/NotoSansKR-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans China';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/NotoSansTC-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Arab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/NotoSansArabic-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''), url("../fonts/NotoSans-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Japan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("../fonts/NotoSansJP-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Korea';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("../fonts/NotoSansKR-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans China';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("../fonts/NotoSansTC-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Arab';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("../fonts/NotoSansArabic-SemiBold.ttf") format('truetype');
}


@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../fonts/NotoSans-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Japan';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../fonts/NotoSansJP-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Korea';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../fonts/NotoSansKR-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans China';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../fonts/NotoSansTC-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Noto Sans Arab';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("../fonts/NotoSansArabic-Bold.ttf") format('truetype');
}

/*
!* dm-sans-regular - latin-ext_latin *!
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.ttf') format('truetype'); !* Safari, Android, iOS *!
}

!* dm-sans-500 - latin-ext_latin *!
@font-face {
    font-family: 'Noto Sans semi-bold';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('../fonts/dm-sans-v11-latin-ext_latin-500.woff') format('woff'),
    url('../fonts/DMSans-Medium.ttf') format('truetype'); !* Safari, Android, iOS *!
    !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *!
}

!* dm-sans-700 - latin-ext_latin *!
@font-face {
    font-family: 'Noto Sans bold';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/dm-sans-v11-latin-ext_latin-700.woff2') format('woff2'), !* Chrome 26+, Opera 23+, Firefox 39+ *! url('../fonts/dm-sans-v11-latin-ext_latin-700.woff') format('woff'), !* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ *! url('../fonts/DMSans-Bold.ttf') format('truetype'); !* Safari, Android, iOS *!

}
*/
