@import "leaflet.css";

html {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: "Noto Sans";
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    margin: 0 auto;
    font-size: var(--font-size--basic);
    display: flex;
    flex-direction: column;
}

button {
    font-family: "Noto Sans";
}

body[app-lang="ko"],
body[app-lang="ko"] button {
    font-family: "Noto Sans", "Noto Sans Korea"
}

body[app-lang="zh"],
body[app-lang="zh"] button {
    font-family: "Noto Sans", "Noto Sans China"
}

body[app-lang="ja"],
body[app-lang="ja"] button {
    font-family: "Noto Sans", "Noto Sans Japan"
}

body[app-lang="ar"],
body[app-lang="ar"] button {
    font-family: "Noto Sans", "Noto Sans Arab"
}

h1 {
    font-size: var(--font-size--XL);
}

h2 {
    font-size: var(--font-size--L);
}

h3 {
    font-size: var(--font-size--M);
}

h4,
p,
.page-container,
#settings-modal {
    font-size: var(--font-size--basic);
}

#font-control {
    font-size: 1em;
    line-height: 1;
    font-weight: 400;
    position: relative;
    opacity: 0;
    width: 100%;
}

b {
    font-weight: 700;
}

.bold-title {
    font-size: var(--font-size--XL);
    font-weight: 700;
}

.fill-available-width {
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.fill-available-height {
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

.loader {
    width: 50px;
    height: 50px;
    top: 42%;
    left: calc(50vw - 40px);
    border: 16px solid var(--olivegreen);
    border-top: 16px solid var(--grey);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: 200;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#logs-container {
    position: absolute;
    left: 0px;
    right: 0px;
    background: white;
    height: 100%;
    padding: 20PX;
}

.loader-container {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
}

.page-container,
#settings-modal {
    flex-grow: 1;
    color: #fff;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--olivegreen);
    margin: 0;
    overflow: auto;
    word-break: break-word;
    height: 100%;
    width: 100%;
}

.page-container.scan-page {
    background: #000;
}

.page-container.error-page .page-header {
    background: var(--green-200);
    display: flex;
    flex-direction: column;
}

.page-container.error-page .icon-title-container {
    display: flex;
}

.icon-container {
    height: max(5vh, 5vw);
    min-height: max(5vh, 5vw);
    position: relative;
    background: url("../images/app-icon.png") no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: end;
    margin: min(3vh, 3vw);
}

.menu-icon {
    background: url(../images/new-menu-icon.svg) no-repeat top;
    background-size: contain;
    aspect-ratio: 1;
    position: relative;
    border: 0;
    height: 100%;
    padding: 0;
    margin: 0;
}

.app-menu-container {
    border-radius: 14px 0px 14px 14px;
    background: #fff;
    color: var(--olivegreen);
    z-index: 10;
    text-align: left;
    left: min(3vh, 3vw);
    font-size: var(--font-size--basic);
    box-shadow: 0px 15px 20px rgba(28, 34, 40, 0.3);
    list-style-type: none;
    right: 0;
    top: max(5vh, 5vw);
    padding-inline: 0;
}

.app-menu-container:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    right: 0px;
    top: -19px;
}

.app-menu-container > div {
    margin: 5vh 4vh;
}

.welcome-container {
    align-self: center;
    font-weight: 700;
    text-align: center;
    padding: min(3vh, 3vw) 7vh 1vh;
    font-size: var(--font-size--XL);
}

.welcome-container h1 {
    margin: 0;
}

.terms-content-container h2 {
    text-align: left;
}

.terms-content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.terms-container {
    height: 100%;
    overflow: auto;
    background: #F0EEEC;
    border-radius: 20px;
    color: #516266;
    text-align: justify;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: min(3vh, 3vw);
}

.terms-container span {
    flex-grow: 1;
}

.terms-container .terms-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.extra-text {
    padding: 14px 14px 15px;
}

.terms-content {
    padding: 0px 14px;
}

.scan-button.terms-button {
    border: 1px solid #516266;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 1vh 2vh;
}

.terms-button.agree {
    background: var(--olivegreen);
    color: white;
}

.terms-button.disagree {
    background: transparent;
}

.forward-to-page {
    display: flex;
    justify-content: space-between;
    margin: 6%;
}

.more-options-link {
    margin: 6%;
}

.forward-to-page .label {
    flex-grow: 1;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.forward-to-page .label:hover {
    border-top: 1px solid var(--info-grey);
    border-bottom: 1px solid var(--info-grey);
}

.forward-to-page .fwd-icon {
    width: 1.5vmax;
    background: url("../images/right-arrow-icon.svg") no-repeat center;
    background-size: contain;
}

.app-menu-container.hidden {
    visibility: hidden;
}

.hiddenElement {
    visibility: hidden;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    display: block;
}

.content-container {
    align-self: center;
    flex-grow: 1;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}

.content-container > img {
    aspect-ratio: 1;
    width: max(35vw, 35vh);
    max-width: 400px;
}

.explain-container {
    align-self: center;
    text-align: center;
    font-size: var(--font-size--basic);
    padding: 1vh min(3vh, 3vw);
}

.scan-button-container {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    flex-grow: 1;
    word-break: normal;
}

.scan-button {
    color: var(--olivegreen);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    background: var(--mintgreen);
    box-shadow: -1px 8px 24px rgba(0, 0, 0, 0.16);
    border-radius: 5vh;
    border: 0;
    font-weight: 700;
    font-size: var(--font-size--L);
    text-align: center;
    position: absolute;
    right: 4vh;
    padding: 1vh 4vh;
}

.scan-button.go-home-button {
    bottom: 2vh;
    position: fixed;
}

.scan-button.full_width {
    position: relative;
    right: 0;
    padding: 2vh 10px;
    width: 100%;
    margin: 0 35px;
    height: fit-content;
    align-self: center;
    max-width: 500px;
}

/*---------------------------------------------*/

.popup-modal {
    position: absolute;
}

.modal-content {
    background: #fff;
    position: relative;
    color: #04313B;
    padding: min(3vh, 3vw);
}

.error-page .modal-content {
    height: 100%;
}

.modal-container.popup-modal {
    display: flex;
}

.popup-modal .modal-content {
    top: -15px;
    border-radius: 15px 15px 30px 30px;
    font-size: var(--font-size--L);;
    font-weight: 400;
}

.popup-modal .modal-body {
    margin: max(3vh, 3vw);
    position: relative;
    max-height: 100%;
}

#settings-modal .modal-header {
    background-color: var(--olivegreen);
    color: #fff;
    display: block;
}

#settings-modal .modal-header .close-modal {
    background: url(./../images/close-modal-white.svg) no-repeat center;
    background-size: contain;
}

.modal-header .close-modal {
    background: url(./../images/close-modal.svg) no-repeat center;
    background-size: contain;
    width: 4vmax;
    height: 4vmax;
    top: 2vmax;
    right: 2vmax;
    border: 0;
}

.error-page .modal-header .modal-icon {
    position: relative;
    background-size: contain !important;
    background: url(./../images/error-icon.svg) no-repeat;
}

.warning-modal .modal-header {
    background: linear-gradient(0deg, #FFFAED, #FFFAED), #FFFFFF;
}

.error-modal .modal-header {
    background: linear-gradient(0deg, rgba(248, 100, 88, 0.1), rgba(248, 100, 88, 0.1)), #FFFFFF;
}

.error-modal .modal-header .modal-icon {
    background: url(./../images/modal-error-icon.svg) no-repeat center;
}

.warning-modal .modal-header .modal-icon {
    background: url(./../images/modal-warning-icon.svg) no-repeat center;
}

.info-modal .modal-header .modal-icon {
    background: url(./../images/modal-info-icon.svg) no-repeat left;
}

.modal-header.left-aligned-header .modal-icon {
    height: 90%;
    aspect-ratio: 1;
    background-position: center;
}

.modal-container {
    min-width: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    word-break: break-word;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.modal-container.info-modal {
    top: 0;
}

.modal-container:focus-visible {
    outline-style: none;
    outline-width: 0;
}

.modal-header.centered-header {
    position: relative;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    color: #02272F;
}

.modal-header.left-aligned-header {
    padding: 2.5rem min(3vh, 3vw);
}

.modal-header.centered-header .modal-icon {
    height: 35px;
    width: 100%;
    background-position: center;
}

.modal-header.centered-header .icon-title-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2vmax 0;
}

.modal-header.left-aligned-header .icon-title-container {
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    position: relative;
}

.modal-header.centered-header .modal-title {
    text-align: center;
    margin: 0 0 24px 0;
}

.modal-header.left-aligned-header .modal-title {
    text-align: left;
    margin-right: 12px;
}

.modal-header h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.info-modal .modal-body {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.info-modal .modal-body .modal-content {
    padding-bottom: max(18vh, 18vw);
    flex-grow: 1;
}

.modal-content .languages-container {
    overflow: hidden;
}

.modal-content .text-section {
    padding-bottom: 24px;
    font-weight: 400;
}

.modal-content .languages-container .language-item-container {
    font-weight: 500;
    font-size: var(--font-size--basic);
    border: 0.5px solid var(--grey);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-radius: 18px;
    gap: 10px;
    overflow: auto;
}

.modal-content .languages-container .language-item-container:has(input[name='languages']:checked) {
    background: var(--grey);
}

.modal-content .languages-container .language-item-container .language-flag {
    vertical-align: baseline;
    width: 5rem;
    position: relative;
    border-radius: 50%;
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 32px;
    min-width: 32px;
    box-shadow: inset 0 0 10px var(--grey);
}

.modal-content .languages-container .language-item-container .language-label {
    flex-grow: 1;
    word-break: keep-all;
    text-align: left;
}

.modal-content .languages-container .language-item-container input {
    width: 10%;
    position: relative;
    height: fit-content;
    min-height: 15px;
    margin-left: 10px;
    min-width: 10px;
    max-width: 15px;
}

/*----------------------------------------------*/

.scan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: var(--font-size--basic);
    min-height: 10%;
    max-height: 25%;
    overflow: auto;
}

.scan-page #scanner-placeholder {
    overflow: hidden;
    position: relative !important;
    max-width: 100%;
    height: 100%;
}

.scan-cancel,
.camera-switch {
    padding: 0px;
    overflow: auto;
    background: transparent;
    color: white;
    border: 0;
    font-weight: 500;
    font-size: var(--font-size--basic);
    padding: 0 min(3vh, 3vw);
}

/*------------------------------------------*/
.proceed-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 100%;
    margin-top: 16px;
    background: var(--olivegreen);
    border-radius: 62px;
    border: 0;
    color: #fff;
    font-size: var(--font-size--L);
    font-weight: 700;
    height: 56px;
}

.go-back-button {
    font-weight: 700;
    font-size: var(--font-size--L);
    line-height: 140%;
    text-align: center;
    color: #516266;
    margin-top: 24px;
    width: 100%;
    border: 0;
    background: none;
}

/*RTL rules*/

body[dir="RTL"] .loader {
    right: calc(50% - 51px);
}

body[dir="RTL"] .terms-content-container h2 {
    text-align: right;
}

body[dir="RTL"] .menu-icon {
    float: unset;
}

body[dir="RTL"] .app-menu-container {
    text-align: right;
    border-radius: 0px 14px 14px 14px;
}

body[dir="RTL"] .app-menu-container:before {
    border-right: 10px solid transparent;
    border-left: 10px solid #fff;
    right: calc(100% - 20px);
}

body[dir="RTL"] .forward-to-page .fwd-icon,
body[dir="RTL"] .menu-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body[dir="RTL"] .modal-header .close-modal {
    left: 2vmax;;
    right: unset;
}

body[dir="RTL"] .modal-container,
body[dir="RTL"] .error-page .page-content {
    text-align: right;
}

body[dir="RTL"] .scan-button.go-home-button {
    left: 4vh;
    right: unset;
}

body[dir="RTL"] .modal-header.left-aligned-header .modal-title {
    margin-left: 12px;
    margin-right: unset;
    text-align: right;
}

body[dir="RTL"] .terms-container .terms-buttons-container {
    margin-right: 25px;
}

body[dir="RTL"] .modal-content .languages-container .language-item-container input {
    margin-right: unset;
    margin-left: 15px;
}

body[dir="RTL"] .modal-content .languages-container .language-item-container .language-flag {
    margin-right: 10px;
}

/*---------------------------------------------*/
/*@media only screen and (min-device-width: 1281px) {
    body {
        background-image: url("./../images/background.jpg");
        background-repeat: no-repeat;
        background-position: center center;
    }

    .page-container,
    #settings-modal,
    #leaflet-lang-select,
    .loader-container {
        max-height: 96%;
        height: 96%;
        width: 760px;
        border-radius: 30px;
        padding: 0;
        margin: auto;
    }

    .loader-container {
        left: calc(50% - 380px);
        top: 2%;
    }

    .icon-container {
        margin: 3%;
        height: 50px;
        min-height: 50px;
    }

    .app-menu-container {
        width: 80%;
        left: unset;
        right: unset;
        top: 5vh;
    }

    .terms-container {
        margin: 3%;
    }

    .scan-button.go-home-button {
        position: absolute;
    }

    .loader {
        width: 70px;
        height: 70px;
        top: 38%;
        left: calc(50% - 51px);
    }

    #settings-modal .modal-content.terms,
    #settings-modal .modal-content.privacy,
    #settings-modal .modal-content.about,
    #settings-modal .modal-content.help {
        overflow: auto;
    }

    .content-container > img {
        aspect-ratio: 1;
        width: max(25vw, 25vh);
    }

    .modal-container {
        position: relative;
        align-self: center;
        border-radius: 30px;
        min-width: 435px;
        width: max(30%, 760px);
        top: unset;
    }

    .modal-container.popup-modal {
        width: 100%;
    }

    .modal-container.popup-modal .modal-body .modal-content {
        min-height: 25vh;
    }

    .info-modal .modal-body .modal-content {
        padding-bottom: 6vh;
        height: 100%;
        border-radius: 0 0 30px 30px;
    }

    .modal-header.left-aligned-header {
        min-height: 10%;
        justify-content: center;
    }

    .leaflet-page .product-name,
    .modal-header .header-title,
    .modal-header .modal-title,
    .error-page .header-title {
        font-size: var(--font-size--XL);
        font-family: 'Noto Sans bold';
    }

    .scan-header button {
        font-size: var(--font-size--L);
    }

    .scan-page #scanner-placeholder {
        height: 90%;
        border-radius: 0px 0px 30px 30px;
    }

    #scanner-placeholder canvas {
        border-radius: unset;
    }

    #scanner-placeholder canvas#overlay {
        height: 150% !important;
    }

    .modal-content .languages-container .language-item-container {
        font-size: var(--font-size--L);
    }

    .leaflet-page.info-modal .modal-body {
        background: #FFFFFF;
    }

    .leaflet-page .page-content,
    .error-page .page-content {
        border-radius: 0px 0px 30px 30px;
    }

    .error-page .page-content {
        font-size: var(--font-size--L);;
    }

    .product-description {
        font-size: var(--font-size--L);
    }

    .flag-label-wrapper {
        padding: 0px 10px;
    }

    .modal-content .languages-container .language-item-container {
        margin-bottom: 20px;
    }

    !*    .modal-content .languages-container .language-item-container .language-flag {
            top: 6px;
        }*!
    .modal-content .languages-container .language-item-container input {
        min-height: 18px;
    }

    .flag-label-wrapper label {
        font-size: var(--font-size--basic);
    }

    .go-back-button,
    .proceed-button {
        font-size: var(--font-size--L);
        padding: 16px;
    }

    #leaflet-content {
        width: 100%;
    }

    #leaflet-content,
    #leaflet-content .select-lang-text,
    #leaflet-content .languages-list {
        font-size: var(--font-size--basic);
        line-height: 1.2;
    }

    #leaflet-content h2 {
        margin-right: 4rem;
    }

    #leaflet-content h2,
    .leaflet-accordion-item-content {
        font-size: calc(100% + 1.3vmin);
    }
}*/
