export default {
  "epiDomain": "localhost.epi",
  "epiProtocolVersion": 1,
  "appBuildVersion":  "2023.x.x",
  "timePerCall": 10000,
  "totalWaitTime": 60000,
  "gto_TimePerCall": 3000,
  "gto_TotalWaitTime": 15000,
  "enableEpiDomain": true,
  "bdnsUrl": "https://raw.githubusercontent.com/pharmaledgerassoc/mobile-bdns/master/bdns.json"
}
